{% extends "base.html" %}

{% block main_block %}
        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>SALT page.</h1>
                        <p> Minions considered up:</p>
                        <ol>
                        {% for one_element in salt_minions_up %}
                            {# <!-- <li>{{one_line.key}}: {{one_line.value}}</li> --> #}
                            <li>{{one_element}}</li>
                        {% endfor %}
                        </ol>
                    </header>
                    <section>
                        <h2>Minions considered down:</h2>
                        <ol>
                        {% for one_element in salt_minions_down %}
                            <li>{{one_element}}</li>
                        {% endfor %}
                        </ol>
                    </section>
                </article>

                <aside>
                    <h3>aside</h3>
                    <p>empty for now..</p>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
{% endblock %}
