{% extends "base.html" %}

{% block main_block %}
        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>vCenter page</h1>
                        <p> Listing all VMs:</p>
                        <ol>
                            {% for one_vm in vms_as_list %}
                            <li>{{ one_vm }}</li>
                            {% endfor %}
                        </ol>
                    </header>
                    <section>
                        <h2>VM list as one string:</h2>
                        <p> {{ vms_as_string }} </p>
                    </section>
                </article>

                <aside>
                    <h3>aside</h3>
                    <p>Empty for now.</p>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
{% endblock %}
