{% extends "base.html" %}

{% block main_block %}
        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
                    <header>
                        <h1>Weather page</h1>
                        <p> Listing weather info:</p>
                        <ul>
                        {% for one_key,one_val in weather_result.iteritems() %}
                            {# <!-- <li>{{one_line.key}}: {{one_line.value}}</li> --> #}
                            <li>{{one_key}}: {{one_val}}</li>
                        {% endfor %}
                        </ul>
                    </header>
                    <section>
                        <h2>Weather data as one variable:</h2>
                        <p> {{ weather_result }} </p>
                    </section>
                </article>

                <aside>
                    <h3>aside</h3>
                    <p>Empty for now.</p>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->
{% endblock %}
